$softblue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$font-color: #96aacd;
$lightfont: 300;
$regularfont: 400;
$boldfont: 600;
$font-size-heading: 20px;
$font-size-body: 18px;
$font-size-other: 14px;
$font: "https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap";