@import 'config';
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  // min-width: 1440px;
  width: 100vw;
  height: 100vh;
  background-color: $main-bg;
  position: absolute;
  color: white;
  overflow: auto;
}

.nft-card {
  width: 350px;
  height: 610px;
  padding: 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  box-shadow: 0 0 200px  #000;
  background-color: $card-bg;
  
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    

    & .price , .time-left {
      display: flex;
      align-items: center;
      
      & img {
        padding-right: 8px;
      }
    }

    & .price > p {
        color: cyan;
        font-weight: $regularfont;
    }
  }

  div {
    overflow: auto;

    &.img-container {
     position: relative;
     width: 100%;
     border-radius: 10px;
     overflow: hidden;
     transition: max-width 250ms ease;
     cursor: pointer;

        img.cube {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: auto;
        }

        img.eye {
            position: relative;
            width: 100%;
            padding: 40%;
            opacity: 0;
            transition: opacity 250ms ease;
            background: $cyan;
            border-radius: 10px;
            overflow: auto;
            
        }

        &:hover {
            img.eye {
            opacity: 0.5;
            }

            &::before {
            opacity: 50%;
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 250ms ease;
        }
      

      & img {
      border-radius: 10px;
      width: 100%;
      height: 302px;
      }
    }

    &.text-container{
      
        h1{
        font-size: $font-size-heading;
        font-weight: $boldfont;
        padding-top: 30px;
        cursor: pointer;
        padding: 30px 0 24px;
        &:hover{
            color: $cyan;
        }
         
        a {
          color: $white;
        }
          :hover {
            color: $cyan;
          }
        }
      }

      & .description {
        font-size: $font-size-body;
        font-weight: $lightfont;
        color: $font-color;
        padding-bottom: 30px;
      }
    }

    .divider {
        width: 100%;
        height: 1px;
        background: $line-color;
    }

      .user-info {
      display: flex;
      align-items: center;
      padding: 16px 0 32px;

      p {
        font-size: $font-size-body;
        color: $softblue;
        font-weight: $lightfont;

        a {
          color: $white;
        }
      }

      & img {
        width: 35px;
        height: 35px;
        border: 1px solid white;
        border-radius: 50%;
        margin-right: 17px;
      }

      a {
      text-decoration: none;
      font-weight: $regularfont;
      
        &:hover {
          color: $cyan;
        }
      }
    }
  }

a {
  text-decoration: none;
}

.attribution {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%); 
}

@import 'mediaq';